
<div class="text-layout">
    <h1>Decimal Pipe y Porcentaje</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el módulo de Common Module
    </p>
</div>

<div class="grid">

    <div class="col-4">
        <p-card header="Ventas Netas" subheader="del año">
            <i class="pi pi-euro"></i>
            {{ ventasNetas | number:'1.2-2' }} <br>
            {{ ventasNetas | number:'1.6-6' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas" subheader="del año">
            {{ (ventasNetas + 2000000) | currency:'pts.' }} <br>
            {{ (ventasNetas + 2000000) | currency:'USD':'symbol-narrow' }} <br>
            {{ (ventasNetas + 2000000) | currency:'EUR':'symbol-narrow':'1.0-4' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ganancias %" subheader="del año">
            {{ porcentaje | percent }} <br>
            {{ porcentaje | percent:'2.2-2' }}
        </p-card>
    </div>

</div>
