<p-panel header="Decimal, Currency y Percent Pipes" class="p-1">
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>
</p-panel>

<div class="grid">

    <div class="col-12 md:col-4">
        <p-card header="Ventas Netas" subheader="del año">
            {{ totalSells | number:'1.2-2' }} <br>
            {{ totalSells | number:'1.6-6' }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Ventas Brutas" subheader="del año">
            {{ (totalSells + 2000000) | currency:'euros' }} <br>
            {{ (totalSells + 2000000) | currency:'USD':'symbol-narrow' }} <br>
            {{ (totalSells + 2000000) | currency:'EUR':'symbol':'1.0-4' }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Ganancias %" subheader="del año">
            {{ percent | percent }} <br>
            {{ percent | percent:'2.2-2' }}
        </p-card>
    </div>

</div>
